<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
        <link rel="stylesheet" href="<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="asset\css\StarWarsStyle.css"> 
      <script src="asset\js\Starwars.js"></script>     
        <script src="asset\js\script.js"></script>
       
{#         <link href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.css' rel='stylesheet' /> #} 
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
<link href='fullcalendar/main.css' rel='stylesheet' />
<script src='fullcalendar/main.js'></script>
<script>
var calendar = new FullCalendar.Calendar(calendarEl, {
  themeSystem: 'bootstrap'
});
</script> 


     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">   
         <link rel="stylesheet" href={{asset('asset/css/style.css')}}> 
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> <img src={{asset('asset/images/Ouroboros2.png')}} alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a class="nav-link" href="{{path('china')}}">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('cartesemaine')}}">Carte Semaine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('carteweekend')}}">Carte Week-end</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('Hye')}}">Hay Hay China</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('evenements')}}">Évènement</a>
      </li>
      

       {% if app.user %}
        <li class="nav-item">
        <a class="nav-link" href="{{path('app_logout')}}">Deconnexion</a>
        </li>
              <li class="nav-item">
        <a class="nav-link" href="{{path('booking_calendar')}}">Réservez</a>
      </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
              <li class="nav-item">
        <a class="nav-link" href="{{path('registration')}}">Inscription</a>
      </li>
        </li>
        {% endif %}
    
    </ul>
    
  </div>
 
</nav>
    <div class="container">
        {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}

        {% endblock %}
        
    </body>
    

{% block footer %}


<footer>

<div class="bloc6">
<div>
<h2>RESTAURANT HAY HAY CHINA</h2>
<p>Téléphone : 01.23.45.67.89 </p>
<p>"119 avenue des canadiens 76200 DIEPPE"</p>
<h3>NOS RÉSEAUX</h3>

{# Liens réseaux sociaux ? #}
<a href=""><i class="fab fa-facebook"></i></a>
<a href=""><i class="fab fa-instagram"></i></a>


</div>

<div>

<h2>Nos Horaires</h2>
<p>Lundi: De 12h à 14h30 et de 19h-22h</p>
<p>Mardi: De 12h à 14h30 et de 19h-22h</p>
<p>Mercredi: De 12h à 14h30 et de 19h-22h</p>
<p>Jeudi: De 12h à 14h30 et de 19h-22h</p>
<p>Vendredi: De 12h à 14h30 et de 19h-23h</p>
<p>Samedi: De 12h à 15h00 et De 19h-23h</p>
<p>Dimanche: De 12h à 15h30</p>

</div>

</div>

</footer>

{% endblock footer %}
</html>
