
{% extends 'base.html.twig' %}

{% block title %}Les réservation{% endblock %}
{% set fidel = booking.bookings|length %}
{% set x = (100/5)*(fidel) %}
{% block body %}
{% if app.user %}
    <h1>Les réservation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Heure de début</th>
                <th>Heure de fin</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.title }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">Voir plus</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune réservation prise</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<p>
{# {% for b in booking.bookings %} #}

Si vous arrivez à 5, vous avez une réduction de 10%. <br>


<div class="progress">
  <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: {{x}}%;" aria-valuenow="{{fidel}}" aria-valuemin="0" aria-valuemax="125">{{fidel}}</div>
</div>

{# {% endfor %} #}
</p>
    <a href="{{ path('booking_new') }}">Prendre un nouvelle réservation</a> <br>
    <a href="{{ path('booking_calendar') }}">Retourner au calendrier</a>
        {% else %}
        <p>Veuillez vous connectez <a class="nav-link" href="{{path('app_login')}}"> <button>ici</button> </a> ou vous inscrire <a class="nav-link" href="{{path('registration')}}"><button>la</button></a> </p>
    {% endif %}
{% endblock %}

