{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <h1>Réservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>Heure de début</th>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heure de fin</th>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ booking.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('booking_index') }}">Revenir à la liste</a>

    <a href="{{ path('booking_edit', {'id': booking.id}) }}">Editer</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
